USE RB_DATA
GO

IF OBJECT_ID ('TEMPDB..#DATE') IS NOT NULL DROP TABLE #DATE

SELECT T.PERIOD_CLOSE_DATE AS BUSINESS_DATE INTO #DATE 
FROM MASTER_DATA.DBO.DIM_PERIOD T 
WHERE YEAR (T.PERIOD_CLOSE_DATE) = '2023'
AND T.PERIOD_CLOSE_DATE = '2023-11-30' /*LẤY NGÀY CUỐI PERIOD*/


WHILE((SELECT COUNT(1) FROM #DATE T) > 0)
BEGIN
DECLARE @CURRDATE   DATE 
SELECT @CURRDATE = (SELECT TOP 1 T.BUSINESS_DATE FROM #DATE T)
DECLARE @CURRDATE1   DATE = DATEADD (DD, -DAY (@CURRDATE)+1, @CURRDATE) /*LẤY NGÀY ĐẦU PERIOD*/
DECLARE @LASTDATE   DATE = DATEADD (DD, -1, @CURRDATE1) /*LẤY NGÀY CUỐI PERIOD TRƯỚC*/
DECLARE @LASTDATE1   DATE =DATEADD (DD, -DAY (@LASTDATE)+1, @LASTDATE) /*LẤY NGÀY ĐẦU PERIOD TRƯỚC*/
DECLARE @PERIOD   VARCHAR (255) = CONVERT(VARCHAR(7),@CURRDATE,121) /*LẤY PERIOD*/
DECLARE @PERIODLM   VARCHAR (255) = CONVERT(VARCHAR(7),DATEADD (MM, -1, @CURRDATE),121) /*LẤY PERIOD TRƯỚC*/

IF OBJECT_ID ('TEMPDB..#EPOLM_CM') IS NOT NULL DROP TABLE #EPOLM_CM

SELECT 	T.BUSINESS_DATE, T.CONTRACT_NO,	T.CUSTOMER_ID, T.PRODUCT_GROUP
,	CASE WHEN T.BUSINESS_DATE = @LASTDATE THEN 'LM' WHEN T.BUSINESS_DATE = @CURRDATE THEN 'CM'END AS HEADING
,	T.TERM
,	T.CURRENCY
,	T.MIS_TERM
,	T.VALUE_DATE, T.CREATE_DATE, T.MATURITY_DATE
, SUM(T.AMOUNT_LCY) AS EOP 
, MAT_INSTRUCTION
INTO #EPOLM_CM 
FROM [FIN_WHR].[DBO].[PIS_DEPOSIT_ALL] T
WHERE (T.BUSINESS_DATE BETWEEN @LASTDATE AND @CURRDATE)	
AND MIS_SEGMENT IN ('KHCN','RB','AF','MAF','HH') 
/*AND BOOK_CODE <> 'TMO' AND BOOK_CODE <> 'I2B'*/ /*--TU THANG 11/2020, TOAN BO BOOK CODE I2B VA TMO VE RB--*/
AND (PRODUCT_GROUP LIKE 'TD%' OR PRODUCT_GROUP LIKE '%TERM%DEPOSIT')
AND CUSTOMER_ID !='7403752' --(ADJ LOẠI TRỪ THÁNG 01.2023, NC SỬ DUNG SOURCE RB_DATA)
GROUP BY T.BUSINESS_DATE, T.CONTRACT_NO, T.CUSTOMER_ID, T.PRODUCT_GROUP
, CASE WHEN T.BUSINESS_DATE = @LASTDATE THEN 'LM' WHEN T.BUSINESS_DATE = @CURRDATE THEN 'CM' END
, T.TERM, T.CURRENCY, T.MIS_TERM, T.VALUE_DATE, T.CREATE_DATE, T.MATURITY_DATE, MAT_INSTRUCTION

/*BẢNG TRUNG GIAN #PIVOT_DATA TẠO */
IF OBJECT_ID ('TEMPDB..#PIVOT_DATA') IS NOT NULL DROP TABLE #PIVOT_DATA

SELECT T.CONTRACT_NO, T.PRODUCT_GROUP
	, CONVERT(FLOAT,SUM(ISNULL (T.LM, 0)) /1E9) AS EOP_LM
	, CONVERT(FLOAT,SUM(ISNULL (T.CM, 0)) /1E9) AS EOP_CM
	, CONVERT(FLOAT,SUM(ISNULL (T.CM, 0) - ISNULL (T.LM, 0)) /1E9) AS NET
	, CAST (NULL AS VARCHAR (255)) TERM
	, CAST (NULL AS VARCHAR (255)) CURRENCY
	, CAST (NULL AS VARCHAR (255)) STATUS_LM
	, CAST (NULL AS VARCHAR (255)) STATUS_CM
	, CAST (NULL AS DATE) VALUE_DATE_LM
	, CAST (NULL AS DATE) VALUE_DATE_CM
	, CAST (NULL AS DATE) CREATE_DATE_LM
	, CAST (NULL AS DATE) CREATE_DATE_CM
	, CAST (NULL AS DATE) MATURITY_DATE_LM
	, CAST (NULL AS DATE) MATURITY_DATE_CM
	, CAST (NULL AS VARCHAR (255)) BIG_TD_LM
	, CAST (NULL AS VARCHAR (255)) BIG_TD_CM
	, CAST (NULL AS VARCHAR (255)) CUSTOMER_ID_LM
	, CAST (NULL AS VARCHAR (255)) CUSTOMER_ID_CM
	, CAST (NULL AS DATE) MAXDATE
	, CAST (NULL AS VARCHAR (255)) MOVEMENT_TYPE 
	, MAT_INSTRUCTION
INTO #PIVOT_DATA FROM #EPOLM_CM PIVOT (SUM (EOP) FOR HEADING IN ([LM], [CM])) T
GROUP BY T.CONTRACT_NO, T.PRODUCT_GROUP, MAT_INSTRUCTION

UPDATE T SET T.TERM = V.TERM
, T.CURRENCY = V.CURRENCY 
, T.STATUS_CM = V.MIS_TERM
, T.VALUE_DATE_CM = V.VALUE_DATE
, T.CREATE_DATE_CM = V.CREATE_DATE
, T.MATURITY_DATE_CM = V.MATURITY_DATE
, T.CUSTOMER_ID_CM = V.CUSTOMER_ID 
FROM #PIVOT_DATA T, #EPOLM_CM V 
WHERE T.CONTRACT_NO = V.CONTRACT_NO 
AND V.BUSINESS_DATE = @CURRDATE

UPDATE T 
SET T.CURRENCY = CASE WHEN T.CURRENCY IS NULL THEN V.CURRENCY ELSE T.CURRENCY END
, T.TERM = CASE WHEN T.TERM IS NULL THEN V.TERM ELSE T.TERM END
, T.STATUS_LM = V.MIS_TERM
, T.VALUE_DATE_LM = V.VALUE_DATE
, T.CREATE_DATE_LM = V.CREATE_DATE
, T.MATURITY_DATE_LM = V.MATURITY_DATE
, T.CUSTOMER_ID_LM = V.CUSTOMER_ID 
FROM #PIVOT_DATA T, #EPOLM_CM V  
WHERE T.CONTRACT_NO = V.CONTRACT_NO 
AND V.BUSINESS_DATE = @LASTDATE 

/*UPDATE DANH SACH BIG_TD VAO BANG #BIG_TD*/
IF OBJECT_ID ('TEMPDB..#BIG_TD') IS NOT NULL DROP TABLE #BIG_TD

SELECT BUSINESS_DATE, CUSTOMER_ID
		, CASE WHEN SUM(EOP)/1E9 > 100 THEN 'BIG_TD' ELSE 'MASS' END AS BIG_TD 
INTO #BIG_TD
FROM #EPOLM_CM
GROUP BY BUSINESS_DATE, CUSTOMER_ID ORDER BY BUSINESS_DATE, CUSTOMER_ID

UPDATE T 
SET T.BIG_TD_CM = V.BIG_TD 
FROM #PIVOT_DATA T, #BIG_TD V 
WHERE T.CUSTOMER_ID_CM = V.CUSTOMER_ID 
AND V.BUSINESS_DATE = @CURRDATE

UPDATE T 
SET T.BIG_TD_LM = V.BIG_TD 
FROM #PIVOT_DATA T, #BIG_TD V 
WHERE T.CUSTOMER_ID_LM = V.CUSTOMER_ID 
AND V.BUSINESS_DATE = @LASTDATE 

/*UPDATE BANG #MAXDATE NGÀY TỒN TẠI CUỐI CÙNG CỦA HỢP ĐỒNG*/
IF OBJECT_ID ('TEMPDB..#MAXDATE') IS NOT NULL DROP TABLE #MAXDATE

SELECT CONTRACT_NO, MAX(BUSINESS_DATE) AS MAXDATE INTO #MAXDATE 
FROM #EPOLM_CM
GROUP BY CONTRACT_NO ORDER BY CONTRACT_NO

UPDATE T 
SET T.MAXDATE = V.MAXDATE 
FROM #PIVOT_DATA T, #MAXDATE V 
WHERE T.CONTRACT_NO = V.CONTRACT_NO

UPDATE T 
SET T.MOVEMENT_TYPE = CASE WHEN EOP_CM = EOP_LM AND MAT_INSTRUCTION <> 'AUTOMATIC ROLLOVER' AND MAT_INSTRUCTION <> 'Automatic Rollover Only Principal' THEN '0UNCHANGED_NOTROLL' 
						   WHEN (CREATE_DATE_CM BETWEEN @CURRDATE1 AND @CURRDATE) AND MAT_INSTRUCTION <> 'AUTOMATIC ROLLOVER' AND MAT_INSTRUCTION <> 'Automatic Rollover Only Principal' AND MAT_INSTRUCTION IS NOT NULL
									THEN '1NEW_NOTROLL' 
						   WHEN (EOP_CM = 0 AND EOP_LM <> 0) AND MAT_INSTRUCTION <> 'AUTOMATIC ROLLOVER' AND MAT_INSTRUCTION <> 'Automatic Rollover Only Principal' AND MAT_INSTRUCTION IS NOT NULL 
									THEN CASE WHEN MATURITY_DATE_LM <= MAXDATE THEN '2SCHE_NOTROLL'
											  WHEN MATURITY_DATE_LM > MAXDATE THEN  '3PREMATURE_NOTROLL' END
						   WHEN EOP_CM = EOP_LM AND (MAT_INSTRUCTION = 'AUTOMATIC ROLLOVER' OR MAT_INSTRUCTION = 'Automatic Rollover Only Principal') 
									THEN '4UNCHANGED_AUTOROLL' 
						   WHEN (CREATE_DATE_CM BETWEEN @CURRDATE1 AND @CURRDATE) AND (MAT_INSTRUCTION = 'AUTOMATIC ROLLOVER' OR MAT_INSTRUCTION = 'Automatic Rollover Only Principal') 
									THEN '5NEW_AUTOROLL' 
						   WHEN (VALUE_DATE_CM BETWEEN @CURRDATE1 AND @CURRDATE) AND CREATE_DATE_CM < VALUE_DATE_CM AND (MAT_INSTRUCTION = 'AUTOMATIC ROLLOVER' OR MAT_INSTRUCTION = 'Automatic Rollover Only Principal') AND EOP_CM <> 0
									THEN '6ROLL_AUTOROLL' 
						   WHEN (EOP_CM = 0 AND EOP_LM <> 0) AND (MAT_INSTRUCTION = 'AUTOMATIC ROLLOVER' OR MAT_INSTRUCTION = 'Automatic Rollover Only Principal')
									THEN '7PREMATURE_AUTOROLL' 
						   ELSE '9OTHERS' END
FROM #PIVOT_DATA T

DELETE T
FROM USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT_MAT_TEST2 T
WHERE T.PERIOD = @PERIOD

INSERT INTO USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT_MAT_TEST2
SELECT @PERIOD AS PERIOD , T.PRODUCT_GROUP, T.TERM, T.CURRENCY, T.STATUS_LM, T.STATUS_CM
, T.MOVEMENT_TYPE, T.BIG_TD_CM, T.BIG_TD_LM, T.EOP_LM, T.EOP_CM, T.NET, T.MATURITY_DATE_CM, MAT_INSTRUCTION
FROM #PIVOT_DATA T


DELETE  T
FROM #DATE T
WHERE T.BUSINESS_DATE = @CURRDATE

END

-------

--SELECT * 
--INTO USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT_MAT_TEST2
--FROM USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT_MAT

--SELECT * 
--INTO USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT_MAT
--FROM USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT

--ALTER TABLE USER_DATA.VYTT11.FCST_EOP_TD_MOVEMENT_MAT
--ADD MAT_INSTRUCTION VARCHAR(250)