/*BANG CU: RB_DATA.RETAIL.RESULT_EOP_TD_MOVEMENT*/
  
DECLARE @PERIOD VARCHAR(255) = '2023-11'  


SELECT PERIOD, PRODUCT_GROUP, TERM, CURRENCY, STATUS_LM, STATUS_CM, MOVEMENT_TYPE, BIG_TD_CM, BIG_TD_LM, SUM(EOP_LM) AS EOP_LM, SUM(EOP_CM) AS EOP_CM, SUM(NET) AS NET, MAT_INSTRUCTION
FROM [USER_DATA].[vytt11].[FCST_EOP_TD_MOVEMENT_MAT_TEST2]
WHERE PERIOD = @PERIOD
GROUP BY PERIOD, PRODUCT_GROUP, TERM, CURRENCY, STATUS_LM, STATUS_CM, MOVEMENT_TYPE, BIG_TD_CM, BIG_TD_LM, MAT_INSTRUCTION
ORDER BY PERIOD, PRODUCT_GROUP, TERM, CURRENCY, STATUS_LM, STATUS_CM, MOVEMENT_TYPE, BIG_TD_CM, BIG_TD_LM, MAT_INSTRUCTION  


SELECT SUM(EOP_LM) EOP_LM, SUM(EOP_CM) EOP_CM, SUM(NET) NET
FROM [USER_DATA].[VYTT11].[FCST_EOP_TD_MOVEMENT_MAT_TEST2]
WHERE PERIOD = @PERIOD

 
 